.projectsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.projectCardContainer {
  display: flex;
  margin-top: 50px;
}
