.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoContainer img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 5px solid #2e282a;
  margin-top: 100px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

.iconContainer {
  display: flex;
}
.iconContainer img {
  height: 100px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  /* border: 1px solid; */
}

.iconContainer img:hover {
  height: 110px;
}
