nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2e282a;
  height: 50px;
}

li {
  color: white;
  list-style-type: none;
}

.menuList {
  color: white;
  text-decoration: none;
  padding-right: 20px;
}

.menuList:hover {
  color: #cd5334;
}

.logo {
  color: white;
  text-decoration: none;
  padding-left: 20px;
}
